* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

html {
    height: 100vh;
}

body {
    background-color: #000000;
    min-height: 100%;
    overflow-y: hidden;
}

.AreaGames {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    padding: 1.5rem 0 2rem 0;
    overflow-y: scroll;
}

.AreaGames::-webkit-scrollbar {
    width: 6px;
}

.AreaGames::-webkit-scrollbar-track {
    background: #000000;
}

.AreaGames::-webkit-scrollbar-thumb {
    background-color: #0CC0DF;
    border-radius: 2rem;
}

.BoxPages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BtnPages, .BtnPagesNext, .BtnPagesPrevious {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: #1C1C1C;
    color: #0CC0DF;
}

.BtnPages:hover, .BtnPagesNext:hover, .BtnPagesPrevious:hover {
    cursor: pointer;
    background-color: #363636;
}

.BtnPagesPrevious {
    width: 4rem;
    border-radius: 1rem 0 0 1rem;
}

.BtnPagesNext {
    width: 4rem;
    border-radius: 0 1rem 1rem 0;
}

.TermosDeUso {
    display: flex;
    justify-content: center;
}

.TermosDeUsoContent {
    width: 80%;
}

.TermosDeUsoContent h1 {
    font-size: 2rem;
    color: #0CC0DF;
    margin: 4rem 0 4rem 0;
}

.TermosDeUsoContent p {
    text-align: justify;
}

.Categorias {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 80vh;
}

.Categorias a {
    text-decoration: none;
}

.Categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 10rem;
    background-color: #1C1C1C;
    margin: 1rem;
    border-radius: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.Categoria:hover {
    background-color: #0CC0DF;
    cursor: pointer;
}

.GameView {
    height: 80vh;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.GameViewContent {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    height: 60vh;
}

.GameViewImage {
    width: 20%;
    border-radius: 1rem;
    margin-right: 4rem;
}

.GameViewInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 60%;
}

.GameViewInfos h1 {
    font-size: 3rem;
    color: #0CC0DF;
}

.GameViewInfos button {
    width: 50%;
    height: 2.5rem;
    background-color: #1C1C1C;
    color: #0CC0DF;
    border-radius: 1rem;
    border: none;
}

.GameViewInfos button:hover {
    cursor: pointer;
    background-color: #0CC0DF;
    color: #000000;
}

.GameInstructions {
    padding: 0 6% 0 6%;
}

.GameInstructions p {
    text-align: justify;
    margin-bottom: 1rem;
}

.GameInstructions p a {
    text-decoration: none;
    color: #0CC0DF;
}

.GameInstructions ul {
    margin-bottom: 1rem;
    list-style: none;
}

@media (min-width: 100px) and (max-width: 579px) {
    .AreaGames {
        height: 70vh;
    }

    .Categorias {
        height: 70vh;
    }

    .GameView {
        height: 68vh;
    }

    .GameViewContent {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    .GameViewImage {
        width: 50%;
        border-radius: 1rem;
        margin: 0 25% 0 25%;
    }

    .GameViewInfos {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .GameViewInfos h1 {
        font-size: 3rem;
        color: #0CC0DF;
        margin: 1rem 0 1rem 0;
        text-align: center;
    }

    .GameViewInfos button {
        width: 70%;
        height: 2.5rem;
        background-color: #1C1C1C;
        color: #0CC0DF;
        border-radius: 1rem;
        border: none;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}