* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

html {
    height: 100vh;
}

body {
    background-color: #000000;
    min-height: 100%;
    overflow-y: hidden;
}

.AreaGames {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    padding: 1.5rem 0 2rem 0;
    overflow-y: scroll;
}

.AreaGames::-webkit-scrollbar {
    width: 6px;
}

.AreaGames::-webkit-scrollbar-track {
    background: #000000;
}

.AreaGames::-webkit-scrollbar-thumb {
    background-color: #0CC0DF;
    border-radius: 2rem;
}

.BoxPages {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BtnPages, .BtnPagesNext, .BtnPagesPrevious {
    width: 2rem;
    height: 2rem;
    border: none;
    background-color: #1C1C1C;
    color: #0CC0DF;
}

.BtnPages:hover, .BtnPagesNext:hover, .BtnPagesPrevious:hover {
    cursor: pointer;
    background-color: #363636;
}

.BtnPagesPrevious {
    width: 4rem;
    border-radius: 1rem 0 0 1rem;
}

.BtnPagesNext {
    width: 4rem;
    border-radius: 0 1rem 1rem 0;
}

@media (min-width: 100px) and (max-width: 579px) {
    .AreaGames {
        height: 70vh;
    }
}