* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

html {
    height: 100vh;
}

body {
    background-color: #000000;
    min-height: 100%;
    overflow-y: hidden;
}

.AreaGames {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 80vh;
    padding: 1.5rem 0 2rem 0;
    overflow-y: scroll;
}

.AreaGames::-webkit-scrollbar {
    width: 6px;
}

.AreaGames::-webkit-scrollbar-track {
    background: #000000;
}

.AreaGames::-webkit-scrollbar-thumb {
    background-color: #0CC0DF;
    border-radius: 2rem;
}

@media (min-width: 100px) and (max-width: 579px) {
    .AreaGames {
        height: 74vh;
    }
}